body {
    overflow-x: hidden;
    background: var(--surface-ground);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.playlist-panel {
    display: flex;
    padding: 0 16px;
}

.p-dropdown {
    width: 100%;
    margin: 8px 0;
}

label {
    width: 100%;
    margin: 0 8px;
    font-size: 0.7rem;
    color: var(--bluegray-100);
}

.p-sidebar-header {
    padding-bottom: 0;
}

.dropdown-control {
    width: 100%;
    margin: 0 8px;
}

.p-panel-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.slide {
    margin: 8px 8px;
    border: 3px solid #1f2937;
    border-radius: 2px;
    display: inline-flex;
    padding: 2px;
}

    .slide:hover {
        cursor: pointer;
    }

.active-slide {
    border: 3px solid var(--green-700);
    border-radius: 2px;
}

.slide-container {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    margin-bottom: 108px;
}

.p-button.p-button-lg {
    padding: 16px 64px;
    width: 100%;
    margin: 8px;
}

.p-toolbar {
    border-radius: 0;
    border: 0;
}

.p-toolbar-group-center {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
}
